$white: #ffffff;
$black: #120b16;
$gray: #929292;
$dark: #12324f;
$accent: #156793;
$light: #20a3d9;
$pale: #20dad8;
$bright: #f5c468;
$border: #d8d8d8;
$success: #1ec492;
$error: #f37678;
$cta: #6ac222;

$mobile: 767px;
$tablet: 1023px;

$roboto: 'Roboto', sans-serif;
$mono: 'DM Mono', monospace;

$tr: 0.3s all ease-in-out;
$shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
